/* Light blue/light-blue-100 */
body {
    background: #F3F5FC;
}

/* Digite seu texto */


.label {
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}


.input {
    position: absolute;
    width: 30rem;
    height: 16rem;
    left: 240px;
    top: 220px;
    resize: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
}

/* Button */

/* Auto layout */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    margin-top: 30rem;
    margin-left: 23rem;
    gap: 2rem;

}

.buttonStyle {
    width: 9rem;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */
    color: #FFFFFF;
}

/* Rectangle 1 */
.result {
    position: absolute;
    width: 400px;
    height: 40rem;
    left: 1000px;
    top: 40px;

    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.textResult {
    margin-left: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}